.island-dark {
    all: unset;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    background-color: #2F2F2F;
    border-radius: 14px;
    padding: 5.5px;
}

.island-dark button {
    background-color: #FFFFFF; /* Dark button background */
    color: #000000;
    border-radius: 100%;
    width: 33px;
    height: 33px;
    font-size: 22px;
    font-weight: 600;
    display: flex; 
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow */
    cursor: pointer;
    transition: transform 0.2s;
}

.island-dark button:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25); /* Enhanced shadow on hover */
    transform: scale(1.05);
}

.island-dark button:active {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Reduced shadow on click */
    transform: scale(0.95);
}





.island-bright {
    all: unset;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    background-color: #F4F4F4;
    border-radius: 14px;
    padding: 5.5px;
}

.island-bright button {
    background-color: #000000; /* Dark button background */
    color: #FFFFFF;
    border-radius: 100%;
    width: 33px;
    height: 33px;
    font-size: 22px;
    font-weight: 600;
    display: flex; 
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow */
    cursor: pointer;
    transition: transform 0.2s;
}

.island-bright button:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25); /* Enhanced shadow on hover */
    transform: scale(1.05);
}

.island-bright button:active {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Reduced shadow on click */
    transform: scale(0.95);
}









.scroll-marker {
    position: absolute;
    right: 5px;
    width: 14px;
    height: 14px;
    background-color: #1385ff;
    border: 2px solid white;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 1000;
    transition: transform 0.2s ease, opacity 0.2s ease;
}

.scroll-marker:hover {
    transform: scale(1.2);
    opacity: 0.9;
}

.island.dragging {
    opacity: 0.8;
    cursor: grab;
}
