.island {
    position: fixed;      
    bottom: 20px;         
    right: 20px;          
    background-color: #007bff; 
    color: #fff;
    cursor: pointer;
    z-index: 1000;
    display: flex;
    flex-direction: column;
}

.up-btn{

}

.down-btn{

}

.create-mark{

}

.remove-mark{

}

